/* ==UserStyle==
@name           Twitter Annoyances
@version        2024.03.29
@description    Make the twitter sidebar suck less
@preprocessor   stylus

 -- AUTHOR STUFF --
@namespace      srsutherland
@author         srsutherland
@homepageURL    https://github.com/srsutherland/userscripts
==/UserStyle== */

@-moz-document domain("twitter.com"), domain("*.twitter.com"), domain("x.com") {
    *[role="navigation"] *[aria-label="Subscribe to Premium"],
    *[role="navigation"] *[aria-label="Premium"],
    *[role="navigation"] *[aria-label="Grok"],
    *[role="navigation"] *[aria-label="Verified Orgs"],
    *[aria-label="Trending"] *[aria-label="Timeline: Trending now"],
    a[href^="/i/premium_sign_up"]
    {
        display: none !important;
    }
    
    *[aria-label="Profile"]
    {
        background-color:#9933ff6b;
        border-radius: 10px
    }
    
    *[aria-label="X"]
    {
        background-color:#3399ff6b;
        border-radius: 10px
    }
}
